*{
  margin: o;
  padding: 0;
  box-sizing: border-box;
}
body{
    /* Ubicación de la imagen */
  background-image: url(imagenes/fondo.png);

  /* Para dejar la imagen de fondo centrada, vertical y
  horizontalmente */
  background-position: center center;

  /* Para que la imagen de fondo no se repita */
  background-repeat: no-repeat;

  /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
  background-attachment: fixed;

  /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
  background-size: cover;

  /* Se muestra un color de fondo mientras se está cargando la imagen
  de fondo o si hay problemas para cargarla */
  background-color: #66999;
  background-color: #ffffff;

}

.marco{
  width:1100px;
  margin: 0 auto;
  border: 10px solid red;
  border-radius: 66px;
}
.bor1{
  padding: 20px;
  border: 1px solid #5d6063;
  background-color: darkslategray;
  color: #ffffff;
}
.bor2{
  padding: 20px;
  border: 1px solid #5d6063;
  background:transparent;
  background-color: lightseagreen;
  color: #ffffff;
  width: 700px;
}
.apartados{
  font-size: 20px;
  font-family: arial;

}
.contenido h4{
  font-size: 30px;
  font-family: arial;
}
.contenido li{
  font-family: cursive;
  font-size: 25px;
}
a:link{
  color:orange;
  text-decoration: none;
}
a{
  width: 270px;
  height: 900 px;
  margin-bottom: 20px;
}

.botton1{
  float: left;
  font-family: "calibri", Garamond, 'Comic Sans';
  background-color: orange;
  font-size: 45px;
  margin-left: 1070px;
  color: brown;
}
.botton1:hover{
  background-color: transparent;
  color :#ffffff;
  border: 3px solid orange;
}

.botton2{
  float: left;
  margin-left: 33px;
  font-family: "calibri", Garamond, 'Comic Sans';
  background-color: orange;
  font-size: 45px;
  color: brown;
}
.botton2:hover{
  background-color: transparent;
  color :#ffffff;
  border: 3px solid orange;
}


ul{
  color: orange;
  padding: 20px;
  border: 2px solid orange;
  border-radius: 2px;
}
