<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.login">

    <application
        android:allowBackup="true"
        android:icon="@drawable/utm"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Presentacion.Pago_Netflix"></activity>
        <activity android:name=".Presentacion.Pago_Luz" />
        <activity android:name=".Presentacion.Pago_Mensualidad" />
        <activity android:name=".Presentacion.Pago_Extraordinario" />
        <activity android:name=".Presentacion.Pago_Inscripcion" />
        <activity
            android:name=".Presentacion.SubsistemaUsusario.Inicio_DrawMenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Presentacion.servicios_premium" />
        <activity android:name=".Presentacion.servicios_basicos" />
        <activity android:name=".Presentacion.SubsistemaUsusario.eliminar_perfil" />
        <activity android:name=".Presentacion.editar_perfil" />
        <activity android:name=".Presentacion.SubsistemaCuenta.consulta_movimientos" />
        <activity android:name=".Presentacion.SubsistemaCuenta.Transferencia_Principal" />
        <activity android:name=".Presentacion.SubsistemaCuenta.Transferencia_InData" />
        <activity android:name=".Presentacion.SubsistemaCuenta.Transferencia_Confirmacion" />
        <activity android:name=".Presentacion.SubsistemaUsusario.Registro" />
        <activity android:name=".Presentacion.SubsistemaUsusario.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>